<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>abhizon</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <h1>Available Items</h1>
    <div class="row" style="box-sizing: border-box;">
 
        <% data.forEach(function(users){ %>
            <div class="column">
                <img alt="User Pic" src="http://localhost:3000/images/upload_images/<%=users.image%>" class="imgClass">
                <div class="itemname"><p><%= users.item_name %></p></div>
                <div class="itemprice"><p><%= users.item_price %></p></div>
           
            </div>
        <% }) %>
       
        </div>
</body>
</html>
 
